@font-face {
    font-family: 'Bangers';
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}

body {
    background-color: #EDD5BD;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#gameHeader {
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;
    font-family: 'Bangers', 'Helvetica';
    margin-bottom: 3rem;
}


#gameBoardContainer {
    display: none;
    justify-content: center;

}

.gameboard {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
}

.gameboard-div {
    font-family: 'Bangers', 'Helvetica';
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}


#playerNameContainer {
    font-family: 'Bangers', 'Helvetica';
    width: 700px;
    height: 450px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerNameDiv {
   display: block;
   font-size: 2rem;
}

input {
    height: auto;
    width: 200px;
    font-size: 1.5rem;
}

#playerOne, #playerTwo, label {
    border-radius: 10px;
    font-family: 'Bangers', 'Helvetica';
}

#playerOne:focus, #playerTwo:focus {
    outline: none;
    border: 2px solid teal;
}

#buttonContainer {
    margin-top: 50px;
    text-align: center;
}

.playerInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#startGameBtn {
    font-family: 'Bangers', 'Helvetica';
    font-size: 2rem;
    padding: 10px;
    border-radius: 20px;
    background-color: #61AAB3;
}